*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8fafc;
}

/* Navbar */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    
    background:rgba(15,23,42,0.8);
    backdrop-filter:blur(15px);

    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color: #e9e7ad;
    letter-spacing: 2px;
}



nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:600;
    position:relative;
    padding:5px 0;
    transition:0.3s;
}

nav ul li a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:3px;
    border-radius:10px;
    background:linear-gradient(90deg,#8b5cf6,#ec4899);
    transition:0.4s;
}

nav ul li a:hover{
    color:#ec4899;
}

nav ul li a:hover::after{
    width:100%;
}

/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    background:linear-gradient(
    135deg,
    #7c3aed,
    #ec4899
    );
    color:white;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:60px;
}

.hero-text span{
    color:#0b0a0a;
}

.hero-text h2{
    margin:10px 0;
}

.hero-text p{
    margin:20px 0;
}

.btn{
    background:white;
    color:#7c3aed;
    padding:12px 30px;
    text-decoration:none;
    border-radius:30px;
    font-weight:600;
}

.hero-image img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:8px solid white;
}

/* Section Title */

.section-title{
    text-align:center;
    font-size:40px;
    margin-bottom:30px;
}

/* About */

.about{
    padding:180px 20%;
    background:#efd7f9;
    text-align:center;
    font-size: 19px;
    
}
.about-highlights{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:50px;
    
}

.highlight-card{
    width:180px;   /* was 220px */
    padding:20px;
    background:#ffffff;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}


.highlight-card:hover{
    transform:translateY(-8px);
}

.highlight-card h3{
    margin:10px 0;
    color:#111827;
}

/* Skills */

.skills{
    min-height:100vh;
    padding:190px 10%;
    background:#efd7f9;
}

.skills .section-title{
    text-align:center;
    font-size:3rem;
    margin-bottom:70px;
    color:#111;
}

.skill-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.card{
    width:260px;
    min-height:210px;
    padding:30px;
    background:#ffffff;
    border-radius:20px;
    border:1px solid #e5e7eb;
    text-align:center;
    transition:0.4s ease;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.card h3{
    font-size:28px;
    margin-bottom:15px;
    color:#111827;
}

.card p{
    font-size:15px;
    color:#1f2121;
    line-height:1.7;
}

.card:hover{
    transform:translateY(-10px);
    border-color:#6c63ff;
    box-shadow:0 20px 40px rgba(108,99,255,0.18);
}

.card:hover h3{
    color:#6c63ff;
}
.card:nth-child(1){
border-top:5px solid #E44D26;
}

.card:nth-child(2){
border-top:5px solid #264DE4;
}

.card:nth-child(3){
border-top:5px solid #F7DF1E;
}

.card:nth-child(4){
border-top:5px solid #00C4CC;
}
/* Projects */
.projects{
    padding:170px 8%;
    background:#efd7f9;
}

.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.project-card{
    width:340px;
    padding: 40px;
    background:#ffffff;
    border-radius:16px;
    position:relative;

    /* FLOATING SHADOW (main fix) */
    box-shadow:
        0 8px 20px rgba(0,0,0,0.08),
        0 18px 40px rgba(0,0,0,0.12);

    transition:0.3s ease;
    transform:translateY(0);
}

/* FLOAT EFFECT */
.project-card:hover{
    transform:translateY(-10px) scale(1.02);
    box-shadow:
        0 20px 45px rgba(0,0,0,0.18),
        0 30px 60px rgba(0,0,0,0.15);
}

/* GRADIENT BORDER */
.project-card::before{
    content:"";
    position:absolute;
    inset:0;
    padding:2px;
    border-radius:16px;

    background:linear-gradient(135deg,#22c55e,#3b82f6,#a855f7);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite:xor;
    mask-composite:exclude;

    pointer-events:none;
}


/* Resume */

.resume{
    background:#efd7f9;
    padding:180px 8%;
    text-align:center;
}

.resume-content{
    max-width:700px;
    margin:auto;
}

.resume p{
    font-size:18px;
    line-height:1.7;
    color:#100f0f;
    margin-bottom:25px;
}

.resume .btn{
    background:linear-gradient(90deg,#7c3aed,#ec4899);
    color:white;
    padding:12px 28px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.resume .btn:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(124,58,237,0.25);
}

/* CONTACT */
.contact{
    background:#efd7f9;
    text-align:center;
    padding:140px 8%;
}

.contact p{
    font-size:25px;
    color:#0e0d0d;
    margin:8px 0;
}

.contact h2{
    margin-bottom:20px;
}
/* Footer */

footer{
    text-align:center;
    padding:20px;
    background:#0f172a;
    color:white;
}

/* Mobile */

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
    padding:60px 8%;
}

.hero-text{
    width:100%;
}

.hero-image{
    margin-top:30px;
}

.hero-image img{
    width:250px;
    height:250px;
}
}
